{% extends "layout.html" %}

{% block body %}
    <!-- Body -->
    <main>
        <div class="container">
            <h1>Flask Projects</h1>
            <p>This is a simple Flask Projects Listing Page</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="nav-link" href=" / ">Home</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" href=" /cv ">Yogesh Dhameliya - CV</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" href=" /bmicalc ">BMI Calculator</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" href=" /gstcalc ">GST Calculator</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" href=" /tipcalc ">Tip Calculator</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" href=" /blog ">Blog</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" href=" /contactus ">Contact Us</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" href=" /lifeinweeks ">Weeks left in LIfe Calculator</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" href=" /smtpmail ">Flask Mail</a>
                </li>
              </ul>
        </div>
    </main>

{% endblock %}