{% extends "layout.html" %}

{% block body %}


    <!-- Body -->
 <main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>SMTP Mail Using Flask-Mail</h1>
                <form action = "/smtpmail" method = "post">
           
                    <div class="form-group mb-2">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                    </div>
                    <div class="form-group mb-2">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>

                {% if success %}
                    <h5>{{success}}</h5>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

